*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
}
div img{
    height: 50px;
    width: 50px;
}
ul img{
    height: 30px;
    width: 30px;
}
.logo{
    display: flex;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}
main{
    text-align: center;
    padding: 40px 20px;
}
.main1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
 .main1 img {
  height: 60px;
}
.main1 h3{
    font-size: 2rem ;
    font-weight: 400;
}
.main2 p{
    margin: 20px auto;
    max-width: 650px;
    font-size: 1rem;
    color: #1c1212;
}
button{
    padding: 10px 20px ;
    border-radius: 5px;
    background-color:  #3fb8c8;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
main img{
    width: 150px;
}
.part3{
    display: flex;
    padding: 10px 15px;
    gap: 15px;
}
.part3 h2{
    align-items: center;
     margin-top: 7px;
     font-weight: 400;
}
.language-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}
.language-card{
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow:  0 0 8px rgba(0,0,0,0.1);
}
.language-card h3{
    margin-bottom: 5px;
    font-weight: bold;
}
.language-card p{
    color: gray;
    margin-bottom: 15px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.btn32{
    background-color:#00bcd4 ;
}
.btn64 {
  background-color: #4caf50; /* Green */
}